<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src={{ "/images/api-extractor.svg" | absolute_url }}
            style="height: 50px" alt="API Extractor logo" />
      API Extractor
    </a>
    <div>
      {% for link in site.data.navigation %}
        <a class="btn {% if link.primary %} btn-primary {% endif %}" href="{{ link.url | absolute_url }}">
          {{ link.text }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>